.hero-container {
  background-color: #007ac9;
}

.hero-content {
  min-height: 50vh;
  max-height: 70vh;
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
}

.description {
  /* background-color: blue; */
  width: 60%;
  color: white;
  font-family: 'Spartan';
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.name {
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: -0.2rem;
  color: rgb(255, 255, 255);
  margin-bottom: 40px;
}

.name:hover {
  color: rgba(94, 94, 94, 0.426);
}

.name-closing {
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: -0.2rem;
  margin-top: 50px;
}

.fullname,
.position,
.github,
.dante,
.instagram {
  margin-bottom: 5px;
}

.fullname,
.position,
.description a {
  color: rgba(214, 214, 214, 0.76);
}

.object {
  margin-left: 30px;
}

.green {
  color: rgb(236, 44, 178);
  font-weight: bold;
}

.orange {
  color: rgb(230, 140, 38);
  margin: 0px 8px 0px;
}

.yellow {
  color: #eeea08;
}

.avatar {
  width: 40%;
  background-image: url('../assets/background-shapes-png-1-Images-PNG-Transparent.png');
  background-repeat: no-repeat;
  background-position: left;
  max-height: 600px;
}

.avatar img {
  max-width: 100%;
  border-radius: 20%;
  transition: 0.8s;
}

.avatar img:hover {
  transform: scale(1.1);
  border-radius: 20%;
}

.bg-foot-img {
  background-image: url('../assets//wavy-alt-test.png');
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 100% 150px;
  height: 200px;
  border: none;
}

@media screen and (max-width: 700px) {
  .hero-content {
    display: block;
  }

  .avatar {
    background-image: none;
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .avatar img {
    max-width: 200px;
    border-radius: 20%;
  }

  .description {
    display: block;
    margin: 0;
    width: auto;
  }

  .name,
  .name-closing {
    font-size: 1.2rem;
    margin: 0;
  }

  .object {
    font-size: 0.8rem;
  }
}
